## -*- coding: utf-8 -*-

<%namespace name="zzz" file="zzz_helper.tmpl" import="*" />

${set_locale(lang)}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        %if description:
        <meta name="description" content="${description}">
        %endif
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>${title|striphtml} | ${blog_title|striphtml}</title>

        %if permalink:
        <link rel="canonical" href="${abs_link(permalink)}">
        %endif

        %if favicons:
            %for name, file, size in favicons:
                <link rel="${name}" href="${file}" sizes="${size}"/>
            %endfor
        %endif

        % if comment_system == 'facebook':
            <meta property="fb:app_id" content="${comment_system_id}">
        % endif

        %if prevlink:
            <link rel="prev" href="${prevlink}" type="text/html">
        %endif
        %if nextlink:
            <link rel="next" href="${nextlink}" type="text/html">
        %endif

        ${extra_head_data}

        <link rel="stylesheet" href="/assets/css/reset_reveal.css">
        <link rel="stylesheet" href="/assets/css/slides.css">
        
        <script src="/assets/js/matrixrain.js"></script>
        
        <script>
            window.onload = function() {
                const c_width = 900;
                const c_height = 500;
                const matrixRain = new MatrixRain(
                    element = document.getElementById("canvas"),
                    width = c_width,
                    height = c_height,
                    charList = [
                        '0','1','2','3','4','5','6','7','8','9',
                        'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z',
                        '+','-','*','=','<','>',':','.',
                        'ﾊ','ﾐ','ﾋ','ｰ','ｳ','ｼ','ﾅ','ﾓ','ﾆ','ｻ','ﾜ','ﾂ','ｵ','ﾘ','ｱ','ﾎ','ﾃ','ﾏ','ｹ','ﾒ','ｴ','ｶ','ｷ','ﾑ','ﾕ','ﾗ','ｾ','ﾈ','ｽ','ﾀ','ﾇ','ﾍ'
                    ],
                    red = 0, green = 255, blue = 0,
                    randomColors = false,
                    flowRate = 1,
                    fps = 15,
                );
                window.addEventListener("resize", () => {
                    matrixRain.setCanvasDimensions(c_width, c_height);
                });
            }
        </script>
    </head>
    <body>
        <a class="back_button" href="../../talks/"></a>
    
        <div class="reveal">
            <div class="slides">
                 % if post.meta('is_html') and post.meta('is_html') == 'true':
                 ${post.text()}
                 % else:
                 <section data-markdown>
                 
                    <textarea data-template>

${post.text()}

                    </textarea>
                    
                </section>
                % endif
            </div>
        </div>

        <script src="/assets/js/reveal-full.js"></script>
        <script>
        Reveal.initialize({
            hash: true,
            
            math: {
                mathjax: 'https://cdn.jsdelivr.net/gh/mathjax/mathjax@2.7.8/MathJax.js',
                config: 'TeX-AMS_HTML-full',
            },
            
            markdown: {
                smartypants: true
            },
            
            slideNumber: 'c/t',
            showSlideNumber: 'all',

            plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath, RevealZoom ]
        });
        </script>
    </body>
</html>
 
