<section class="accordion">
  <input type="checkbox" name="collapse" id="handle-${id}">
  <h2 class="handle">
    <label for="handle-${id}">${label}</label>
  </h2>
  <div class="content">
    ${data}
  </div>
</section>
